---
import type { AriaLabel, Href, OptionalClassName } from '../../types'
import clsx from '../../utils/clsx'

type Props = AriaLabel &
  Href &
  OptionalClassName & {
    asHref?: string
    noFocusRing?: boolean
    scroll?: boolean
    underline?: boolean
  }

const { ariaLabel, className, href, noFocusRing, underline } = Astro.props
---

<a
  aria-label={ariaLabel}
  class={clsx(
    'primary rounded border-2 border-solid border-transparent transition-[box-shadow] duration-300 ease-in-out',
    className,
    noFocusRing ? '' : 'focus:border-primary-100 focus:shadow-ring focus:text-white',
    underline ? 'underline' : 'no-underline'
  )}
  href={href}
>
  <slot />
</a>
