---
import clsx from '../../utils/clsx';

type Props = {
    ariaLabel: string;
    href: string;
    className?: string;
    asHref?: string;
    noFocusRing?: boolean;
    underline?: boolean;
};

const { ariaLabel, className, href, noFocusRing, underline } = Astro.props;
---

<a
    aria-label={ariaLabel}
    class={clsx(
        'rounded border-2 border-solid border-transparent duration-300 ease-in-out',
        className,
        noFocusRing ? '' : 'focus:border-primary-100 focus:shadow-ring focus:text-white',
        underline ? 'underline' : 'no-underline'
    )}
    href={href}
>
    <slot />
</a>
