---
import Link from '../components/navigation/Link.astro';
import LogoIcon from '../icons/LogoIcon';
import MainLayout from '../layouts/main.astro';
---

<MainLayout title="Todo FullStack Example">
    <section class="flex min-h-body flex-col items-center justify-center space-y-8">
        <div class="flex flex-col items-center justify-center space-y-0">
            <h1 class="flex items-center text-white">
                <LogoIcon className="h-[80px]" />
                <span class="text-[2rem] uppercase leading-none tracking-wider sm:text-5xl"
                    >Todo App</span
                >
            </h1>
            <h2 class="font-stylized text-base font-bold text-primary sm:text-lg">
                An example fullstack todo app utilizing Astro, SolidJS, Prisma, tRPC, and ExpressJS
            </h2>
        </div>
        <Link noFocusRing className="px-8 py-4 bg-primary hover:bg-primary-400" href="/todo">
            Start Tracking Todos
        </Link>
    </section>
</MainLayout>
