---
import MainLayout from '../layouts/main.astro';
---

<MainLayout title="Todo FullStack Example">
    <section class="h-[60%] flex justify-center items-center flex-col">
        <h1 class="blue-text-shadow font-stylized text-[2rem] uppercase leading-none tracking-wider text-white sm:text-5xl">
            Matt Carlotta
        </h1>
        <h2 class="font-stylized text-base font-bold text-primary sm:text-lg">
            Fullstack Todo App Example
        </h2>
    </section>
</MainLayout>
