---
import MainLayout from '../layouts/main.astro';
import LoginForm from '../components/layout/LoginForm';

if (Astro.cookies.has('SESSION_TOKEN')) {
    return Astro.redirect('/todo');
}
---

<MainLayout description="Login">
    <section class="flex min-h-body flex-col items-center justify-center">
        <LoginForm client:load />
    </section>
</MainLayout>
