---
import MainLayout from '../layouts/main.astro';
import RegisterForm from '../components/layout/RegisterForm';

if (Astro.cookies.has('SESSION_TOKEN')) {
    return Astro.redirect('/todo');
}
---

<MainLayout description="Register">
    <section class="min-h-body flex justify-center items-center flex-col">
        <RegisterForm client:load />
    </section>
</MainLayout>
