---
import LogoIcon from '../icons/LogoIcon';
import MainLayout from '../layouts/main.astro';
import ShowTodos from '../components/layout/ShowTodos';
import { caller } from './api/trpc/[trpc]';

const token = Astro.cookies.get('SESSION_TOKEN')?.value;
if (!token) {
    return Astro.redirect('/login');
}

const { todos, error } = await caller.getTodos({ token });
---

<MainLayout description="Manage My Todos" showLogout>
    <section class="min-h-body max-w-screen-md mx-auto">
        <h1 class="flex justify-center items-center space-x-2 text-white">
            <LogoIcon className="h-[40px]" />
            <span class="text-[2.25rem] tracking-wider">My Todos</span>
        </h1>
        {!error ? <ShowTodos todos={todos} client:load /> : <p>{error}</p>}
    </section>
</MainLayout>
