---
---

<button
    id="logout"
    class="rounded border-2 border-solid border-transparent text-white transition-[box-shadow] duration-300 ease-in-out focus:border-primary-100 focus:text-white focus:shadow-ring"
    type="button"
>
    Log Out
</button>
<script>
    const logoutButton = document.getElementById('logout');

    if (logoutButton) {
        logoutButton.addEventListener('click', async () => {
            await fetch(`${import.meta.env.PUBLIC_API_URL}/signout`, {
                method: 'POST',
                credentials: 'include'
            });

            window.location.pathname = '/login';
        });
    }
</script>
