---
import NotFoundIcon from '../../icons/NotfoundIcon.astro';
import GoBack from '../navigation/GoBack.astro';
---

<section class="min-h-body max-w-screen-lg mx-auto">
    <div class="flex h-128 flex-col items-center justify-center space-y-8">
        <NotFoundIcon className="text-ginormous" />
        <div class="space-y-2 text-center">
            <h1 class="text-2xl tracking-wide text-fire">404 - Not Found</h1>
            <p class="tracking-wide">Unable to locate the requested page.</p>
        </div>
    </div>
</section>
<GoBack href="/" title="home" />
